.smgm-container {
  background-color: white;
  margin: 1px auto;
  border-radius: 6px;
}

.smgm-btn {
  height: 45px;
  border-radius: 6px;
}

.smgm-btn:active {
  border-radius: 6px;
}

.dropdown-menu {
  overflow: hidden;
  overflow-y: auto;
  max-height: 200px;
}
