/* Container */
.sticky-container {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: white;
}

/* Company */
.smgm-company-brand {
  font-size: 2rem;
}

.smgm-company-name {
  padding-left: 5px;
  padding-right: 5px;
  font-size: 1.2rem;
}

.smgm-company-logo {
  vertical-align: baseline;
  border-radius: 6px;
  height: 30px;
  width: 30px;
}

/* Category Elements */
.smgm-category-element {
  width: 60%;
  display: flex;
  justify-content: center;
  margin: 15px auto;
}

/* Category Dropdown */
.smgm-category-dropdown {
  padding: 1px;
}

/* Search Bar */
.smgm-category-searchbar {
  width: 60%;
  padding: 1px;
}

/* Contact Number */
.smgm-company-contact {
  font-size: 1.2rem;
}

/* Header */
.smgm-heading1 {
  background-color: rgb(7, 131, 255);
  border-bottom: 1px solid white;
}

.smgm-heading2 {
  background-color: darkblue;
}

/* Navbar */
.smgm-navbar {
  position: relative;
  padding: 0 2rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.smgm-navbar .header-title.truncate {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: white;
}

.smgm-navbar .title.truncate {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: white;
}

.smgm-navbar ul {
  margin-top: auto;
  margin-bottom: 0;
  padding-left: 0;
}

.smgm-navbar li {
  list-style: none;
}

.smgm-navbar a {
  text-decoration: none;
  color: #fff;
  font-size: 1rem;
}

.smgm-navbar .header-title label {
  color: #fff;
  font-weight: bold;
}

.smgm-navbar .title label {
  color: #fff;
}

.smgm-navbar .links {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.smgm-navbar ul:hover li:hover a:hover {
  text-decoration: underline;
  text-decoration-color: white;
  color: white;
  cursor: pointer;
}

.smgm-navbar .toggle-btn {
  color: #fff;
  font-size: 1.5 rem;
  cursor: pointer;
  display: none;
}

/* DROPDOWN MENU */
.smgm-dropdown-menu {
  display: none;
  position: absolute;
  right: 2rem;
  top: 120px;
  height: 0;
  width: 250px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(15px);
  border-radius: 10px;
  overflow: hidden;
  transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.smgm-dropdown-menu li {
  padding: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* RESPONSIVE DESIGN */
@media (max-width: 992px) {
  .smgm-navbar .links {
    display: none;
  }

  .smgm-navbar .toggle-btn {
    display: block;
  }

  .smgm-dropdown-menu.open {
    left: 2rem;
    width: unset;
    height: 125px;
    background-color: darkblue;
    border: 1px solid white;
    display: flex;
    justify-content: start;
  }

  .smgm-dropdown-menu.open li {
    padding: 0.2rem;
  }

  .smgm-dropdown-menu.open a {
    color: white;
    font-size: bold;
  }
}

@media (max-width: 576px) {
  .smgm-dropdown-menu.open {
    left: 2rem;
    width: unset;
    height: 155px;
    background-color: darkblue;
    border: 1px solid white;
    display: flex;
    justify-content: start;
  }

  .smgm-dropdown-menu.open li {
    padding: 0.2rem;
  }

  .smgm-dropdown-menu.open a {
    color: white;
    font-size: bold;
  }

  .smgm-company-name {
    display: none;
  }

  .smgm-company-logo {
    display: none;
  }

  .smgm-category-element {
    width: 70%;
    display: flex;
    justify-content: center;
    margin: 5px auto;
  }

  .smgm-company-contact {
    display: none;
  }

  .smgm-navbar .title {
    display: none;
  }
}
